.title {
  margin: center;
  text-align: center;
}

.background {
  background-image: url("src/assets/1166781.webp");
  height: 500px; 
  
 
}

.animals {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.text {
font-weight: bold;
color: aliceblue;
background-color:indianred;
text-align: center;
font-size: larger;
}